:root {
  --radius: 0.5rem;
  --background: #000000;
  --card: #000000;
  --popover: #000000;
  --foreground: #141414;
  --card-foreground: #141414;
  --popover-foreground: #141414;
  --primary: #0d6efd;
  --primary-foreground: #141414;
  --ring: #0d6efd;
  --secondary: #0073e6;
  --secondary-foreground: #ffffff;
  --accent: #ffc107;
  --accent-foreground: #141414;
  --muted: #212529;
  --muted-foreground: #ffffff;
  --destructive: #dc0000;
  --destructive-foreground: #ffffff;
  --border: #dee2e6;
  --input: #dee2e6;

  /* Layout Zone Colors */
  --header-background: #ffec00;
  --header-foreground: #141414;

  /* Additional Brand Colors */
  --brand-1: #ffec00;

  /* Button Colors */
  --button-1: #777777;
  --button-2: #5cb85c;
  --button-3: #5bc0de;
  --button-4: #337ab7;
  --button-5: #d9534f;
}

.dark {
  --radius: 0.5rem;
  --background: #000000;
  --card: #000000;
  --popover: #000000;
  --foreground: #ffffff;
  --card-foreground: #ffffff;
  --popover-foreground: #ffffff;
  --primary: #0d6dfd;
  --ring: #0d6dfd;
  --primary-foreground: #ffffff;
  --secondary: #0073e6;
  --secondary-foreground: #ffffff;
  --accent: #ffc105;
  --accent-foreground: #ffffff;
  --destructive: #db0000;
  --destructive-foreground: #ffffff;
  --border: #4d5966;
  --input: #4d5966;
  --muted: #394047;
  --muted-foreground: #ffffff;

  /* Layout Zone Colors */
  --header-background: #ffec00;
  --header-foreground: #141414;

  /* Additional Brand Colors */
  --brand-1: #ffec00;

  /* Button Colors */
  --button-1: #777777;
  --button-2: #5cb85c;
  --button-3: #5bc0de;
  --button-4: #337ab7;
  --button-5: #d9534f;
}