:root {
  --radius: 0.5rem;
  --background: oklch(0.000 0.000 0.000);
  --card: oklch(0.000 0.000 0.000);
  --popover: oklch(0.000 0.000 0.000);
  --foreground: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.578 0.235 278.291);
  --primary-foreground: oklch(0.141 0.005 285.823);
  --ring: oklch(0.578 0.235 278.291);
  --secondary: oklch(0.569 0.195 256.048);
  --secondary-foreground: oklch(1 0 0);
  --accent: oklch(0.640 0.217 294.866);
  --accent-foreground: oklch(0.141 0.005 285.823);
  --muted: oklch(0.594 0.038 261.858);
  --muted-foreground: oklch(0.274 0.006 286.033);
  --destructive: oklch(0.650 0.236 24.847);
  --destructive-foreground: oklch(0.141 0.005 285.823);
  --border: oklch(0.843 0.019 258.357);
  --input: oklch(0.843 0.019 258.357);

  /* Additional Brand Colors */
  --brand-accent-1: #1c4161;
  --brand-accent-2: #1f4468;
  --brand-accent-3: #80e9ff;

  /* Button Colors */
  --button-1: #635bff;
  --button-2: #e17a38;
  --button-3: #f6f9fb;
  --button-4: #00d66f;
  --button-5: #dce6ee;
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.000 0.000 0.000);
  --card: oklch(0.000 0.000 0.000);
  --popover: oklch(0.000 0.000 0.000);
  --foreground: oklch(1 0 0);
  --card-foreground: oklch(1 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.578 0.235 278.291);
  --ring: oklch(0.578 0.235 278.291);
  --primary-foreground: oklch(0.141 0.005 285.823);
  --secondary: oklch(0.569 0.195 256.048);
  --secondary-foreground: oklch(1 0 0);
  --accent: oklch(0.640 0.217 294.866);
  --accent-foreground: oklch(0.141 0.005 285.823);
  --destructive: oklch(0.650 0.236 24.847);
  --destructive-foreground: oklch(0.141 0.005 285.823);
  --border: oklch(0.337 0.019 258.357);
  --input: oklch(0.337 0.019 258.357);
  --muted: oklch(0.297 0.038 261.858);
  --muted-foreground: oklch(1 0 0);

  /* Additional Brand Colors */
  --brand-accent-1: #1c4161;
  --brand-accent-2: #1f4468;
  --brand-accent-3: #80e9ff;

  /* Button Colors */
  --button-1: #635bff;
  --button-2: #e17a38;
  --button-3: #f6f9fb;
  --button-4: #00d66f;
  --button-5: #dce6ee;
}