:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --card: oklch(1 0 0);
  --popover: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.949 0.218 116.741);
  --ring: oklch(0.949 0.218 116.741);
  --primary-foreground: oklch(0.141 0.005 285.823);
  --secondary: oklch(0.949 0.218 116.735);
  --secondary-foreground: oklch(0.141 0.005 285.823);
  --accent: oklch(0.956 0.194 115.120);
  --accent-foreground: oklch(0.141 0.005 285.823);
  --muted: oklch(0.683 0.000 89.876);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.150 0.000 0.000);
  --card: oklch(0.150 0.000 0.000);
  --popover: oklch(0.150 0.000 0.000);
  --foreground: oklch(0.900 0.005 285.823);
  --card-foreground: oklch(0.900 0.005 285.823);
  --popover-foreground: oklch(0.900 0.005 285.823);
  --primary: oklch(0.799 0.218 116.741);
  --ring: oklch(0.799 0.218 116.741);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.799 0.218 116.735);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.806 0.194 115.120);
  --accent-foreground: oklch(0.141 0.005 285.823);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.350 0.004 286.320);
  --input: oklch(0.350 0.004 286.320);
  --muted: oklch(0.342 0.000 89.876);
  --muted-foreground: oklch(0.705 0.015 286.067);
}