:root {
  --background: #fff;
  --foreground: #151515;
  --card: #fff;
  --card-foreground: #151515;
  --popover: #fff;
  --popover-foreground: #151515;
  --primary: #1e306e;
  --primary-foreground: #ffffff;
  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
  --destructive: #cb372a;
  --destructive-foreground: #fef2f2;
  --border: #dedede;
  --input: #dedede;
  --ring: #1e306e;
  --radius: 0.5rem;
}

.dark {
  --background: #020817;
  --foreground: #f8fafc;
  --card: #020817;
  --card-foreground: #f8fafc;
  --popover: #020817;
  --popover-foreground: #f8fafc;
  --primary: #1e306e;
  --primary-foreground: #f8fafc;
  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --accent: #1e293b;
  --accent-foreground: #f8fafc;
  --destructive: #cb372a;
  --destructive-foreground: #f8fafc;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #1e306e;
  --radius: 0.5rem;
}