:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --card: oklch(1 0 0);
  --popover: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.573 0.214 258.247);
  --primary-foreground: oklch(1 0 0);
  --ring: oklch(0.573 0.214 258.247);
  --secondary: oklch(0.641 0.185 254.396);
  --secondary-foreground: oklch(0.141 0.005 285.823);
  --accent: oklch(0.567 0.156 47.238);
  --accent-foreground: oklch(1 0 0);
  --muted: oklch(0.239 0.000 89.876);
  --muted-foreground: oklch(1 0 0);
  --destructive: oklch(0.613 0.223 9.236);
  --destructive-foreground: oklch(0.141 0.005 285.823);
  --border: oklch(0.937 0.000 89.876);
  --input: oklch(0.937 0.000 89.876);

  /* Button Colors */
  --button-1: oklch(0.845 0.000 89.876);
  --button-2: oklch(0.341 0.000 89.876);
  --button-3: oklch(0.000 0.000 0.000);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.141 0.005 285.823);
  --card: oklch(0.21 0.006 285.885);
  --popover: oklch(0.21 0.006 285.885);
  --foreground: oklch(1 0 0);
  --card-foreground: oklch(1 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.573 0.214 258.247);
  --ring: oklch(0.573 0.214 258.247);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.641 0.185 254.396);
  --secondary-foreground: oklch(1 0 0);
  --accent: oklch(0.567 0.156 47.238);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.613 0.223 9.236);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.350 0.000 89.876);
  --input: oklch(0.350 0.000 89.876);
  --muted: oklch(0.250 0.000 89.876);
  --muted-foreground: oklch(1 0 0);

  /* Button Colors */
  --button-1: oklch(0.845 0.000 89.876);
  --button-2: oklch(0.341 0.000 89.876);
  --button-3: oklch(0.000 0.000 0.000);
}